<div><h3 class="text-center">Before You Begin the Online Assessment</h3></div>

<div>
    <div>
        <div>
            <ol>
                <li> <b>Read the instructions carefully</b> <br></li>
                <p>As with any assessment, take the time to read your instructions very carefully and make
                    sure you understand what is expected of you.</p>
                <li><b>Plan and keep track of your time</b></li>
                <p>  Once you start the assessment you may have limited time to complete it. Therefore, set
                    an alarm at certain intervals to notify you how much time is left – like the invigilator in a
                    class- or examination room-based assessment would do.</p>
                <li><b>Guidelines on assessment etiquette and integrity</b>
                   <ul>
                       <li>You are not allowed to copy this assessment or to create images of the screen
                        showing any part of the assessment (including, but not limited to, images
                        obtained by means of screenshots, photographs and any software applications).</li>
                        <li> In the case of an open-book assessment you may only consult the
                            sources that are explicitly allowed by the recruiter/assistant.</li>

                        <li>You are not allowed to communicate with another student or anybody else, about
                            any aspect related to the assessment from the time that the assessment becomes
                            available.</li>

                        <li>You are responsible for successfully submitting all your answers/uploading your
                            completed assignment and required documents. You may not assume that
                            submission was successful until the system shows that your submission
                            was accepted.</li>
                   </ul>
                </li>

                <li><b>What do I do if I experience technical difficulties? </b>

                    <ul>
                        <li>Make sure that you are connected to the internet and that you have data.</li>
                        <li>Make sure that you are using Microsoft Edge, Google Chrome or Mozilla Firefox
                            when using this system.</li>
                        <li>Ensure your password is still active. If you need to change your password, click
                            <a routerLink="/register-update">here</a>.</li>
                        <li>Clear your browser cache</li>
                        <li><b>If your assessment stalls or is interrupted</b>, click F5 or the “Refresh” button on
                            your internet browser to see if you can return to the assessment</li>
                    </ul>

                </li>
            </ol>
        </div>
    </div>
</div>

<div>
    <p>ready to begin? </p>
    <a routerLink="/quiz" class="btn btn-success">Go</a>
</div>
