<div class="about-section">
    <h1>About Us</h1>
    <p>We are the central nervous system of global software development solutions. Our mission is to nurture and inspire the human spirit - one person, one computer and one neighbourbood at a time. </p>
  </div>
  
  <h2 style="text-align:center">About Our Recruitment Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="./assets/images/person2.png" alt="Jane" style="width:10%; height: 10%">
        <div class="container">
          <h2>Jane Doe</h2>
          <p class="title">CEO & Founder</p>
          <p>Is a stereotypical cat lady who says her only love of her life were her cat Coco and Computers. Is also a ballet part-time dancer</p>
          <p>jane@example.com</p>
        
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="./assets/images/person1.png" alt="Mike" style="width:10%; height: 10%">
        <div class="container">
          <h2>Mike Ross</h2>
          <p class="title">Art Director</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>mike@example.com</p>
          
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="./assets/images/person3.png" alt="John" style="width:10%; height: 10%">
        <div class="container">
          <h2>John Doe</h2>
          <p class="title">Designer</p>
          <p>Started coding at the age of 7 and says when other kids played with children blocks and ludos, he was playing with building blocks of software.</p>
          <p>john@example.com</p>
          
        </div>
      </div>
    </div>
  </div>
