

<form>
    <h2>Login</h2>
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" name="username" id="username" [(ngModel)]="user.username" />
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" name="password" id="password" [(ngModel)]="user.password" />
    </div> <br/>
    <button type="submit" class="btn btn-secondary" (click)="login()">Login</button>
</form>