

<header>

  <!--<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    
  </nav> -->

  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <!-- Navbar content -->
    <div class="container-fluid">
      <a class="navbar-brand" routerLink='dashboard'>Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a routerLink='login' class="nav-link">Sign In</a>
          </li>
          <li class="nav-item">
            <a routerLink='register' class="nav-link">Sign Up</a>
          </li>
          <li class="nav-item">
            <a routerLink='quizhome' class="nav-link">Start Test</a>
          </li>
          
         <!-- <li class="nav-item">
            <a routerLink='about' class="nav-link">About Us</a>
          </li>-->
          <li class="nav-item">
            <a routerLink='contact' class="nav-link">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<div class="text-end" *ngIf="!loggedIn">
 
  <a (click)="logout()" class="btn btn-outline-dark me-2">Sign Out</a>
</div>
</header>

<!--Where my routes will render-->
<br><br>
<div class="container">
  <div class="p-5 mb-4 rounded-3" style="background-color: lavender;">
      <div class="container-fluid py-5">
          <router-outlet>
              <!-- Placeholder for rendering rotues -->

          </router-outlet>
          
      </div>
  </div>
</div>

<div>
  <div>
    <div class="footer text-center">
      Copyright (c) Made by Karabo Pheko 2021
    </div>
  </div>
</div>

