<div>
<div>
    <h2>Company Profile</h2>
    <h4>Our Story</h4>
    <p>Our Story began in 1975. Back then we were a computer science graduates  and has computers, and our couches.
         <br><br>
         Today we are priviledged to connect with millions of customers every day with exceptional products and more than 20 companies in 5 countries.
    </p>
    <h4>Our Mission</h4>
    <p>We are the central nervous system of global software development solutions. Our mission is to nurture and inspire the human spirit - one person, one computer and one neighbourbood at a time. </p>
    <h4>Our Ofiices</h4>
      <table style="width: 100%;">
          <tr>
              <td>Johanesburg</td>
              <td>Cape Town</td>
              <td>Pretoria</td>
              <td>The Netherlands</td>
              <td>New Zealand</td>
          </tr>
      </table>

      <hr>
      <h4>Careers</h4>
      <div class="panel-grid panel-no-style">
          <div class="panel-grid-cell">
              <div>
                  <div class="row horizontal">
                      <div class="col-3">
                        <a routerLink="/about" class="btn btn-info">
                          
                            <div>
                                <img src="./assets/images/findoutmore.jpg" alt="find-out-more" style="height: 78px;width: 78px;">
                            </div>
                            <div class="bsm-title-holder">
                                <h5 class="bsm-title">Find Out More</h5>
                                <h5 class="bsm-subtitle heading-wide"></h5>
                            </div>
                        </a>
                      </div>
                      <div class="col-3">
                        <a routerLink="/register" class="btn btn-info">
                            <div>
                                <img src="./assets/images/applynow.png" alt="apply-now" style="height: 78px;width: 78px;">
                            </div>
                            <div class="bsm-title-holder">
                                <h5 class="bsm-title">Apply Now</h5>
                                <h5 class="bsm-subtitle heading-wide"></h5>
                            </div>
                        </a>
                    </div>
                    <div class="col-3">
                        <a routerLink="/contact" class="btn btn-info">
                            <div>
                                <img src="./assets/images/askaquestion.png" alt="ask-a-q" style="height: 78px;width: 78px;">
                            </div>
                            <div class="bsm-title-holder">
                                <h5 class="bsm-title">Ask A Question</h5>
                                <h5 class="bsm-subtitle heading-wide"></h5>
                            </div>
                        </a>
                    </div> 
                    <div class="col-3">
                        <a href="" class="btn btn-info">
                            <div>
                                <img src="./assets/images/customer.png" alt="customer" style="height: 78px;width: 78px;">
                            </div>
                            <div class="bsm-title-holder">
                                <h5 class="bsm-title">Find Out More</h5>
                                <h5 class="bsm-subtitle heading-wide"></h5>
                            </div>
                        </a>
                    </div>
                      
                      
                    
                   
                      
                  </div>
              </div>

          </div>
      </div>
      <hr>
    <p></p>
</div>
</div>

<div>

</div>